:root {
  --background: rgb(255, 250, 251);
  --hover-background: rgb(255, 228, 233);
  --foreground: #171717;
  --dark-red: rgb(120, 0, 0);
  --bright-red: rgb(215, 0, 20);
  --light-text: rgb(255, 241, 242);
  --dark-text: rgb(122, 122, 122);
}

.main-layout {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.navbar-container {
  min-width: 300px;
  height: 95vh;
  background-color: var(--dark-red);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  color: white;
  padding-top: 20px;
  margin-left: -10px;
}

.navbar-box p {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-link {
  margin-left: 10px;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
}

.navbar-link:hover {
  background-color: var(--bright-red);
}

.logout-button {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
}

.logo-image {
  width: 250px;
  height: auto;
  margin-top: -30px;
  margin-left: -5px;
}

.separator {
  width: 250px;
  height: 0.5px;
  background-color: white;
  margin-top: -30px;
}

.separator-modulo {
  width: 100%;
  padding: 0px 50px;
  height: 2px;
  background-color: var(--bright-red);
  margin-top: 30px;
}

.dashboard-financiero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 40px 0px 0px 0px;
}

.modulo-button {
  width: 200px;
  height: 120px;
  background-color: white;
  border: 4px solid rgb(215, 0, 20);
  color: rgb(215, 0, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgb(80, 73, 73);
}

.modulo-button:hover {
  background-color: var(--hover-background);
  color: var(--bright-red);
}

.modulo-button .logo {
  padding: 10px;
}

.module-image {
  width: 70px;
  height: auto;
}

.footer-container {
  background-color: black;
  color: white;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabla-cupos {
  overflow-x: auto;
}

.tabla-cupos-content tr td {
  border: 1px solid #e5e7eb; /* Same as Tailwind border */
  text-align: center; /* Centers text */
  color: var(--dark-text);
  padding: 10px 20px;
}

.tabla-header {
  background-color: var(--bright-red) !important;
  color: var(--light-text);
}

.tabla-cupos-content tr:nth-child(even) {
  background-color: #f9fafb;
}

.titulo-tabla-cupos {
  color: var(--bright-red);
  text-transform: uppercase;
}

.titulo-modulo {
  color: var(--bright-red);
}

.container-financiero {
  color: var(--dark-text);
}

.action-button {
  background-color: white;
  border: 2px solid var(--bright-red);
  padding: 10px 20px;
  border-radius: 25px;
  color: var(--bright-red);
  box-shadow: 4px 4px 10px rgb(162 157 157);
}

.action-button:hover {
  background-color: var(--bright-red);
  color: var(--light-text);
}

table thead th {
  position: sticky; /* makes the element stick in its container */
  top: 0; /* sticks to the top of the scroll container */
  background: var(
    --bright-red
  ); /* give it a solid background so rows don’t bleed through */
  z-index: 10; /* keep it above the body cells */
}

.login-header {
  background-color: var(--dark-red);
  color: var(--light-text);
}

.form-field {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
}

.login-subtitle {
  color: var(--dark-text);
}

.login-link {
  color: white;
}
