:root {
  --background: rgb(255, 250, 251);
  --foreground: #171717;
  --dark-red: rgb(120, 0, 0);
  --bright-red: rgb(215, 0, 20);
  --light-text: rgb(255, 241, 242);
  --dark-text: rgb(120, 0, 0);
}

.main-layout {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.navbar-container {
  min-width: 300px;
  height: 95vh;
  background-color: var(--dark-red);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  color: white;
  padding-top: 20px;
  margin-left: -10px;
}

.navbar-box p {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-link {
  margin-left: 10px;
}

.logout-button {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
}

.logo-image {
  width: 250px;
  height: auto;
  margin-top: -30px;
  margin-left: -5px;
}

.separator {
  width: 250px;
  height: 0.5px;
  background-color: white;
  margin-top: -30px;
}

.dashboard-financiero {
  display: flex;
  gap: 50px;
  padding: 40px 0px 0px 0px;
}

.modulo-button {
  width: 200px;
  height: 120px;
  background-color: white;
  border: 4px solid rgb(215, 0, 20);
  color: rgb(215, 0, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgb(80, 73, 73);
}

.modulo-button .logo {
  padding: 10px;
}

.module-image {
  width: 70px;
  height: auto;
}

.footer-container {
  background-color: black;
  color: white;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabla-cupos {
  overflow-x: auto;
}

.tabla-cupos-content tr td {
  border: 1px solid #e5e7eb; /* Same as Tailwind border */
  text-align: center; /* Centers text */

  padding: 10px 20px;
}

.tabla-cupos-header {
  background-color: var(--bright-red) !important;
  color: var(--light-text);
}

.tabla-cupos-content tr:nth-child(even) {
  background-color: #f9fafb;
}

.titulo-tabla-cupos {
  color: var(--dark-text);
  text-transform: uppercase;
}

.container-financiero {
  color: var(--dark-text);
}

.action-button {
  background-color: var(--dark-red);
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--light-text);
}
