@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-grand-hotel: "Grand Hotel", cursive;
  --font-urbanist: "Urbanist", sans-serif;
}

.font-grand-hotel {
  font-family: var(--font-grand-hotel);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Urbanist", sans-serif;
}
